<html>
	<head>
		<title>titulo y la wea</title>
		{% load staticfiles %}
		<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-2.1.1.min.js"></script>
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/sticky-footer.css">
		
	</head>
	<body>
		<h1>Observatorio de Comida Rapida</h1>

		<div></div>
		<footer class="footer">
			<div class="container">
				creado por: Cristian Gomez, Nestor Mora, Luis Riquelme
			</div>
		</footer>
	</body>
	
</html>